body{
    background-image: url(../img/photo-1596350327329-936d8e22d1fbjfif);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#container{

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}



#header{
    text-align: center;
    padding-bottom: 30px;
    color: #2a2a2a;;
}

#container2{
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #2a2a2a;
    font-size: 20px;
}



#knapp1{
    display: block;
    margin-top: 30px;
    margin-bottom: 160px;
    background-color: #f8f6f2;
    color: #2a2a2a;
    border-radius: 8px;
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif;
    
}


#slumpa{
     display: block;
    background-color: #f8f6f2;
    color: #2a2a2a;
    border-radius: 8px;
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif;
    
}
